.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 59%;
  height: 206px;
  border-radius: 10%;
  background: url("assets/img/img-login.png") no-repeat;
}
.Lorem-ipsum-dolor-si {
  height: 3.25rem;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.25px;
  text-align: center;
  color: #383743;
}
.BEM-VINDO-AO-EMPRESA {
  height: 4rem;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.Rectangle-26 {
  height: 3.3rem;
  border-radius: 3.6px;
  --background: #57bbbc;
  background-color: #57bbbc;
}
.mto {
  margin-top: 12px;
  ion-icon {
    margin-bottom: -2px;
    padding-right: 0.4rem;
    padding-left: 0.15rem;
  }
}
.login-form {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  text-align: center;
}
.login-in-body {
  width: 100%;
}
.mat-form-field {
  width: 35rem;
}
.button-login {
  color: #000000 !important;
  background-color: #57bbbc;
  width: 17rem;
  text-align: center;
}
.wrapper-login {
  background-color: #ebe9d7;
}
