<div class="wrapper-login">
  <div class="logo"></div>
  <h4 no-margin>
    <div class="BEM-VINDO-AO-EMPRESA">Bem-Vindo ao Empresas</div>
    <div class="Lorem-ipsum-dolor-si">
      Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.
    </div>
  </h4>
</div>

<div class="login-body">
  <form [formGroup]="loginForm">
    <mat-label type="text" placeholder="Email" formControlName="email">
      Email</mat-label
    >
    <input
      class="input-field col s6"
      type="password"
      placeholder="Senha"
      formControlName="password"
    />
    <div>
      <button>Entrar</button>
    </div>
  </form>
</div>
<!-- src="../../../assets/img/img-login.png" -->
